<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Econtrol</title>
  
   <meta charset="utf-8"/>
   <meta name="viewport" content="width=device-width, 
     user-scalable=no"/>
  
   <link href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css"
     rel="stylesheet"/>
   <link href="/css/style.css" rel="stylesheet"/>
</head>
  
<body>
  
<div class="container">
   <div class="jumbotron">
       <h1>Econtrol</h1>
   </div>
  
   <div>
       <a class="btn btn-primary" th:href="@{/fornecedores/cadastro}">Novo fornecedor</a>
   </div>
   <hr/>
  
   <div th:if="${fornecedores != null}">
       <h4>
           Fornecedores
       </h4>
       
       <div th:if="${mensagem != null}">
		   <div class="alert alert-info" role="alert">
		       <span th:text="${mensagem}">mensagem</span>
		   </div>
	   </div>
  
       <table class="table">
           <thead>
           <tr>
               <th>Nome</th>
               <th>Descrição</th>
               <th>Ação</th>
           </tr>
           </thead>
           <tr th:each="fornecedor : ${fornecedores}">
               <td >
                   <a th:text="${fornecedor.nome}">nome</a>
               </td>
               <td th:text="${fornecedor.endereco}">descricao</td>
               <td>
                   <a class="btn btn-sm btn-info" th:href="@{/fornecedores/{id}/atualizar(id=${fornecedor.codigoFornecedor})}">Editar</a>
                   <a class="btn btn-sm btn-danger" th:href="@{/fornecedores/{id}/remover(id=${fornecedor.codigoFornecedor})}">Excluir</a>
               </td>
           </tr>
       </table>
   </div>
  
   <div th:if="${#lists.isEmpty(fornecedores)}">
       <div class="alert alert-info" role="alert">
           <span class="glyphicon glyphicon-exclamation-sign"></span>
           0 fornecedores cadastradas!
       </div>
   </div>
   <hr/>
  
   <a class="btn btn-light" href="/home">Voltar</a>
   <hr/>
  
   <footer class="footer">
       <p>© 2018 DevMedia</p>
   </footer>
</div>
</body>
</html>